body{
    margin: 0;
    padding: 0;
    font-family: 'Krona One', sans-serif;
}

@media screen and (max-width: 600px) {
    #navbar {
        float: none;
        width: 100%;
        display: block;
    }

    #pokemon{
        width: 100vw;
    }

}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 2em;
    border: solid white 1px;
    position: fixed;
    width: 100%;
}

#navbar a {
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    border-left: solid 1px white;
    border-right: solid 1px white;
    text-decoration: none;
}

#navbar a:hover {
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
    color: black;
    border-left: solid 1px white;
    border-right: solid 1px white;
    text-decoration: none;
}

#pokemon-headers {
    background-color: black;
    color: white;
    padding-left: 1em;
    padding-top: 2em;
    border: whitesmoke solid 1px;
}

#main {
    background-color: #32a887;
    height: 86vh;
    width: 99.7%;
    border: black solid 2px;
}

#pokemon {
    background-color: white;
    height: 99%;
    width: 50%;
    margin: auto;
    border: black solid 2px;
}

#battle {
    border-bottom: black 1px solid;
    height:55%;
}

#rival-screen {
    height: 50%;
    
}

#battle-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pokeball {
    height: 20px;
}

.pokemon-sprite {
    height: 150px;
}

.trainer-sprite {
    height: 150px;
}


#bottom {
    display: flex;
    height: 50%;
}

#directory {
    width: 45%;
    display: flex;
    align-items: center;
    border: black 2px dashed;
    padding: 1em;
    margin: 1em;
    height: 60%;
    border-radius: 10px;
}

#battle-bottom {
    width: 50%;
    display: flex;
    align-items: center;
}

#battle-bottom img{
    height: 150px;
}

.team-player {
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
    margin: .5em;
}

.team-player img {
    margin: auto;
    height: 100px;
}


#actions {
    border-top: black solid 1px;
    padding: .5em;
    height: 40%;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
}

.pokemon-team {
    display: flex;
}

.moves {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.moves div {
    border: black solid 2px;
    border-radius: 5px;
    margin: .5em;
    padding-left: .5em;
    height: 90px;
    width: 145px;
    justify-content: flex-start;
}

.pSelect {
    width: 50%;
}

.dropdown {
    background-color: black;
    color: white;
    height: 20px;
    font-family: 'Krona One', sans-serif;
    border-radius: 5px;
}

.battleButton {
    background-color: black;
    margin: .5em;
    color: white;
    height: 30px;
    font-family: 'Krona One', sans-serif;
    border-radius: 5px;
    display: none;
}

